* {
  box-sizing: border-box;
}

.navbar-login-form {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 5px;
  height: 50px;
  background-color: rgba(46, 45, 45, 0.55);
  padding: 10px;
}

.navbar-upload-form {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 5px;
  height: 50px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
}

.navbar-signedout {
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-gap: 5px;
  height: 50px;
  background-color: rgba(46, 45, 45, 0.55);
  padding: 10px;
}

#flutter-logo-container {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#flutter-logo {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

#signup-button {
  width: 75px;
  display: block;
  margin-left: 10px;
  text-align: center;
  padding-top: 8px;
  background-color: white;
  border-style: none;
  border-radius: 5px;
  grid-column-start: 5;
  grid-column-end: 6;
  text-decoration: none;
  color: black;
  font-size: 0.75em;
}


#signup-button:hover {
  color: grey;
}


#signin-link-container {
  grid-column-start: 4;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#signin-link {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}
