
.photo-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // background-color: #f3f5f6;
  background-color: #2b2b2b;
}

.photo-item-container {
  align-self: center;
  padding-top: 3px;
  padding-bottom: 3px;

  .photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    background-color: white;
    width: 85%;
    margin: auto;
    div {
      height: 30px;
      padding-top: 5px;
      padding-left: 5px;
    }
    div > * {
      color: black;
      font-size: 0.8em;
      text-decoration: none;
      font-weight: bold;

    }
    div > *:hover {
      text-decoration: underline;
    }
    img {
      width: 100%;
      // padding-top: 30px;
      // padding-bottom: 60px;
    }
    #caption-text {
      color: black;
      font-size: 0.6em;
      font-weight: bold;
    }
  }
}

.photo-card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
