
.photo-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f5f6;
  grid-auto-rows: max-content;
}

.photo-item-container {
  padding-top: 10px;
  padding-bottom: 10px;

  .photo-card {
    border-radius: 5px;
    background-color: white;
    width: 75%;
    margin: auto;
    img {
      width: 100%;
      padding-top: 30px;
      padding-bottom: 60px;
    }
  }
}

.photo-card:hover {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
