
* {
  box-sizing: border-box;
}

.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signin {
  background: image-url("signin.jpg");
  background-size: cover;
}

#signup {
  background: image-url("polarbear.jpeg");
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 300px;
  border-radius: 3px;
  padding: 5px;
  padding-bottom: 20px;
  opacity: 0.85;
}

.input-container {
  font-size: 0.65em;
  background-color: white;
  border-radius: 3px;
  border: 1px solid;
  padding: 5px;
  font-family: arial;
  color: #128fdc;
  width: 80%;
}

.form-container input {
  font-size: 1.25em;
  border-style: none;
  height: 20px;
  width: 100%;
  outline: none;
  background-color: white;
}

.form-title {
  // font-family: arial;
  font-size: 0.85em;
  font-weight: bold;
}

#submit-button, #demo-button {
  border-radius: 3px;
  background-color: rgb(18, 143, 220);
  width: 80%;
  height: 30px;
  border-style: none;
  color: white;
}

#submit-button:hover {
  opacity: 0.93;
}

#demo-button:hover {
  opacity: 0.93;
}

#password {
  -webkit-text-security: disc;
}

.circles {
  background: image-url("circles.jpg");
  background-size: cover;
  width: 30px;
  height: 30px;
}

.errors {
  padding-top: 5px;
  height: 20px;
  width: 80%;
  font-size: 0.55em;
  font-family: arial;
  color: #b20f0f;
}

#required {
  font-size: 0.65em;
  color: gray;
  font-style: italic;
  padding-right: 140px;
}

#already-has-account {
  font-size: 0.7em;
  color: gray;
  margin: 0 auto;
  margin-top: 5px;
}

#already-has-account {
  font-size: 0.7em;
  color: gray;
  margin: 0 auto;
  margin-top: 5px;
}

#no-account-yet {
  font-size: 0.7em;
  color: gray;
  margin: 0 auto;
  margin-top: 5px;
}
